@use "src/app/shared/css/mixins" as *;

#container {
  align-items: center;
  height: 100vh;
  background-color: var(--color-background);

  @include respond(phone) {
    background-image: var(--app-background-color) !important;

  }
}

.form-button {

  &-container{

    @include respond(phone) {
      flex-direction: column-reverse;
    }
  }
  &-1 {
    justify-content: start;

    @include respond(phone) {
      justify-content: center;
      width: 100% !important;
      margin-top: 1rem;

    }
  }

  &-2 {
    justify-content: end;

    @include respond(phone) {
      justify-content: center;

    }
  }
}

.message-container {
  position: absolute;
}

.back:hover {
  color: #008b85;
}

select {
  border: none;

  &:active,
  &:focus {
    border: none;
  }
}

.ng-select.custom {
  padding: 0 !important;

  ::ng-deep .ng-select-container {
    padding-left: 2rem !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }


}

.no-border {
  border-color: transparent !important;
}

.border {
  border-color: transparent transparent #000 transparent !important;
}

//GLOBAL

.b-start {
  &:before {
    content: "";
    position: absolute;
    top: 2.8rem;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 3px #008b85;
    animation: border_anim_start 0.3s linear forwards;
  }
}

.b-end {
  &:before {
    content: "";
    position: absolute;
    top: 2.8rem;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 3px #008b85;
    animation: border_anim_end 0.3s linear forwards;
  }
}

.link {
  text-decoration: none;
  font-size: 0.9rem;
  color: #000;
}

.forgot-password {
  transition: all 0.2s;
}

.forgot-password:hover {
  color: #008b85;
}

.to-up {
  transform: translateY(-2.5rem) scale(0.8, 0.8);
}

.to-down {
  transform: translateY(0rem);
}

input {
  outline: none;
  border: none;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.disabled-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.2rem;
  min-width: 7.5rem;
  height: 3.1rem;
  border-radius: 25px;
  border: 1px solid #c2cee0;
  background-color: #fff;
  font-size: 1rem;
  color: #555;
  line-height: 1.2;
  opacity: 0.6;
  transition: all 0.4s;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.2rem;
  min-width: 7.5rem;
  height: 3.1rem;
  border-radius: 25px;
  border: 1px solid #c2cee0;
  background-color: #fff;
  font-size: 1rem;
  color: #555;
  line-height: 1.2;
  opacity: 0.6;
  transition: all 0.4s;
}

.login-btn:hover {
  background-image: linear-gradient(to bottom, #fffcff, #d5fefd);
  opacity: 1;
  color:var(--active-link-text-color) !important;
}

//END GLOBAL

.register-form {
  //border-radius: 1rem;
  background-image: var(--login-form-bg-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @include respond(phone) {
    box-shadow: initial !important;
    background-image: initial !important;
  }

  overflow: auto;

  &__avatar-row {
    margin-top: 3.5rem;
  }

  .input-wrapper {
    position: relative;
    margin-bottom: 30px;
    border-bottom: solid 2px #000;

    &__input {
      font-size: 1rem;
      line-height: 1.2;
      width: 110%;
      display: block;
      height: 45px;
      background: 0 0;
      padding: 0 5px 0 3rem;
      margin-left: -1rem;
      transition: all 0.1s;

      &:focus {
        padding-left: 0.5rem;
      }

      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  .rounded-div {
    border: 1px solid var(--color-gray);
    width: 10vh;
    height: 10vh;
    border-radius: 10rem;
    overflow: hidden;

    .avatar {
      height: 100%;
      width: 100%;
    }
  }

  .icon-container {
    transition: all 0.2s;
    position: absolute;
    z-index: 999;

    .icon-m {
      font-size: 1.5vh;
    }
  }


  .icon-password{
    position: absolute;
    top: .7rem;
    right: 1rem;
  }

  .form__check-label {
    font-size: 1rem;
    cursor: pointer;
    position: relative;
  }

  .form__check-button {
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid #382a49;
    display: inline-block;
    position: absolute;
    left: -1.4rem;
  }

  .form__check-button::after {
    content: "";
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #382a49;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .form__check-input:checked~.form__check-label .form__check-button::after {
    opacity: 1;
  }
}

#remember-container {
  margin-bottom: 3rem;
}

.red {
  background-color: red;
}

.google {
  background-color: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 13rem;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    width: 12rem;

    span {
      font-size: 14px;
      font-family: "Inter Medium" !important;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}


.facebook {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  height: 40px;
  width: 13rem;

  &__container {
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    padding-left: 10px;
  }

  &__icon {
    height: 40px;
  }

  &__text {
    width: 10rem;

    span {
      font-size: 14px;
      font-family: "Inter Medium" !important;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

//ANIMATIONS

@keyframes border_anim_start {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes border_anim_end {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

//END ANIMATIONS

//RESPONSIVES

//XXL

@media (min-width: 1440px) {}

//XL
@media (min-width: 1200px) and (max-width: 1430px) {
  .to-up {
    transform: translateY(-1.5rem) scale(0.8, 0.8) !important;
  }

  .mt-lg {
    margin-top: 0.5rem !important;
  }

  .mt-md {
    margin-top: 0.25rem !important;
  }
}

//LG
@media (min-width: 992px) and (max-width: 1190px) {
  .to-up {
    transform: translateY(-1.5rem) scale(0.8, 0.8) !important;
  }

  .mt-lg {
    margin-top: 0.5rem !important;
  }

  .mt-md {
    margin-top: 0.25rem !important;
  }
}

//MD
@media (min-width: 768px) and (max-width: 990px) {
  .to-up {
    transform: translateY(-1.5rem) scale(0.8, 0.8) !important;
  }
}

//SM
@media (min-width: 576px) and (max-width: 760px) {}

//XS
@media (max-width: 575px) {
  .to-up {
    transform: translateY(-1.5rem) scale(0.8, 0.8) !important;
  }

  .mt-md {
    margin-top: 0.25rem !important;
  }

  .mt-lg {
    margin-top: 0.5rem !important;
  }

  .register-form {
    max-height: 95% !important;
  }
}

//VERTICAL RESPONSIVE
@media (max-width: 575px) and (max-height: 790px) {}

//custom

@media (min-width: 1536px) {}

@media (width: 1176px) and (height: 664px) {}

@media (width: 800px) and (height: 600px) {
  .mt-md {
    margin-top: 0.25rem !important;
  }

  .mt-lg {
    margin-top: 0.5rem !important;
  }

  .register-form {
    &__avatar-row {
      margin-top: 1.5rem;
    }
  }

  #remember-container {
    margin-bottom: 2rem;
  }
}

.social-media {
  display: grid;
  grid-template-columns: 1fr;

  &__text {
    transition: all .2s;

    &:hover {
      color: #55c57a;
    }
  }

  &__item {
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  }

  &__buttons {
    display: grid;
    justify-content: center;
    cursor: pointer;

    @include respond(desktop) {
      grid-template-columns: repeat(auto-fit, minmax(min-content, 15rem));
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fit, minmax(min-content, 15rem));
    }

    @include respond(phone) {
      grid-template-columns: 0.8fr;
    }
  }
}