<div class="row d-flex justify-content-center" id="container">


    <div class=" col-10 col-md-6 col-lg-5 col-xl-4 col-xll-4 mh-100 recovery-form" data-aos="fade-up"
        data-aos-duration="2500">

        <div class="row">

            <div class="col-12 mt-4">
                <div class="">
                    <h6 class="text-center recovery-form__title">CAMBIAR CONTRASEÑA</h6>
                </div>
            </div>
        </div>

        <form action="" #Form [formGroup]="form_model" id="change-password-form" (ngSubmit)="onSubmit()">

            <div class="row recovery-form__content d-flex justify-content-center mt-5">
                <div class="col-10 input-wrapper started" #wrapperPassword>
                    <span class="icon-container mt-2" #password1Icon>
                        <fa-icon [icon]="faLock" class="icon-m"></fa-icon>
                    </span>

                    <span class="icon-password" (click)="showPassword()" >
                        <fa-icon [icon]="faEye" class="icon-m"></fa-icon>
                    </span>

                    <input [type]="displayPassword ? 'text':'password'"  class="input-wrapper__input"
                        (focus)="focusFunction(password1Icon,wrapperPassword)"
                        (focusout)="focusOutFunction(password1Icon,wrapperPassword)" placeholder="Nueva contraseña"
                        formControlName="password" name="password">

                    <div *ngIf="model_form_control.password.invalid &&
                model_form_control.password.touched" class="message-container mt-2">
                        Este campo es requerido (minimo 8 caracteres)
                        <span [ngClass]="{
                    invalid:
                      model_form_control.password.invalid &&
                      model_form_control.password.touched
                  }">*</span>
                    </div>
                </div>
            </div>


            <div class="row recovery-form__content d-flex justify-content-center mt-4">
                <div class="col-10 input-wrapper started" #wrapperConfirmPassword>
                    <span class="icon-container mt-2" #password2Icon>
                        <fa-icon [icon]="faLock" class="icon-m"></fa-icon>
                    </span>

                    <span class="icon-password" (click)="showConfirmPassword()" >
                        <fa-icon [icon]="faConfirmEye" class="icon-m"></fa-icon>
                    </span>
                    <input [type]="displayConfirmPassword ? 'text':'password'" class="input-wrapper__input"
                        (focus)="focusFunction(password2Icon,wrapperConfirmPassword)"
                        (focusout)="focusOutFunction(password2Icon,wrapperConfirmPassword)"
                        placeholder="Confirmar contraseña" formControlName="password_confirmation"
                        name="password_confirmation">
                    <div class="message-container mt-2">


                <div *ngIf="model_form_control.password_confirmation.invalid &&
                model_form_control.password_confirmation.touched" >
                    <span  class="small-text float-start">Este campo es requerido (minimo 8 caracteres)<span [ngClass]="{
                        invalid:
                          model_form_control.password_confirmation.invalid &&
                          model_form_control.password_confirmation.touched
                      }">*</span></span>
                </div>

                <div>
                    <span *ngIf="passwordMatchError &&
                    model_form_control.password_confirmation.touched" class="small-text float-start">Contraseñas distintas<span [ngClass]="{
                    invalid:
                    passwordMatchError
                  }">*</span></span>
                </div>



                 
                    </div>
                </div>
            </div>



            <div class="row recovery-form__content d-flex justify-content-center mt-4  mt-md" id="remember-container">
                <div class="col-10">

                    <div class="row mt-4 mt-xxl-3 mt-xl-3 mt-lg-3 form-row">
                        <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 d-flex mt-3 mt-xxl-0 mt-xl-0 mt-lg-0">
                            <div class="form-button d-flex align-items-center w-100">
                                <div>
                                    <span><a routerLink="/login" class="login-btn"> inicio</a> </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 ">
                            <div class="form-button d-flex ">
                                <button class="login-btn" [disabled]="form_model.invalid || sendingForm" [ngClass]="
                            {
                                'login-btn':form_model.valid,
                                'disabled-btn':form_model.invalid
                            }" type="submit">Enviar</button>
                            </div>
                        </div>
                    </div>



                </div>
            </div>



        </form>


    </div>
</div>