<div class="row d-flex justify-content-center" id="container">


    <div class=" col-10 col-md-6 col-lg-5 col-xl-4 col-xll-4 mh-100 recovery-form" data-aos="fade-up"
        data-aos-duration="2500">

        <div class="row">

            <div class="col-12 mt-4">
                <div class="">
                    <h6 class="text-center recovery-form__title">RECUPERAR CONTRASEÑA</h6>
                </div>
            </div>
        </div>
        <form action="" #Form [formGroup]="form_model" id="password-recovery-form" (ngSubmit)="onSubmit()">

            <div class="row recovery-form__content d-flex justify-content-center mt-4">
                <div class=" col-10 information">
                    <p>Indícanos la dirección de correo electrónico asociada a tu cuenta y te enviaremos el link de
                        recuperación de contraseña.</p>
                </div>
            </div>

            <div class="row recovery-form__content d-flex justify-content-center mt-4">
                <div class="col-10 input-wrapper started" #wrapper1>
                    <span class="icon-container mt-2" #emailIcon>
                        <fa-icon [icon]="faEnvelope" class="icon-m"></fa-icon>
                    </span>
                    <input type="text" class="input-wrapper__input" (focus)="focusFunction(emailIcon,wrapper1)"
                        (focusout)="focusOutFunction(emailIcon,wrapper1)" placeholder="Correo" formControlName="email"
                        maxlength="30" name="email">
                </div>
            </div>





            <div class="row recovery-form__content d-flex justify-content-center mt-4  mt-md" id="remember-container">
                <div class="col-10">

                    <div class="row form-button-container">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex">
                            <div class="form-button-1 d-flex align-items-center">
                                <div>

                                    <a routerLink="/login" class="login-btn link" type="button">Volver</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-button-2 d-flex">
                                <button class="login-btn" type="submit" [disabled]="form_model.invalid || sendingForm"
                                    [ngClass]="
                            {
                                'login-btn':form_model.valid,
                                'disabled-btn':form_model.invalid
                            }">Enviar</button>
                            </div>
                        </div>
                    </div>



                </div>
            </div>


        </form>



    </div>
</div>