<div class="row">

    <div class="col-12 mt-3">

        <div class="row d-flex justify-content-center">


        </div>
    </div>
</div>


<div class="row">

    <div class="col-12 mt-5 mt-2">

        <div class="rowd-flex justify-content-center align-items-center bottom-margin">

            <div class="col-11  form-row m-auto p-5">

                <div class="row h-100">
                    <div class="col-12">

                        <div class="w-100 h-100 d-flex" style="align-items: center;">
                            <div class="row ">

                                <div class="col-12">

                                    <p>
                                       Al suscribirse a <b>PESTSY</b> los pagos del servicio seran realizados automaticamente por paypal <br>


                                        Una vez acepte:
                                    </p>

                                    <ul class="mt-2">
                                        <li>Su suscripción sera renovada automaticamente de acuerdo al plan elegido</li>
                                        <li>Usted podra cancelar esta suscripción cuando lo desee a traves de su cuenta paypal</li>
                                    </ul>


                                </div>


                            </div>

                        </div>


                        <div class="row">
                            <div class="col-12">

                                <div class="w-100 d-flex justify-content-center">
                                    <div class="col-12 col-xll-3 col-xl-3 col-sm-8 col-md-8 ">

                                        <div class="d-flex w-100 justify-content-center">
                                            <button type="submit" class="form-btn" (click)="onSubmit()">
                                                <fa-icon [icon]="faCheck" class="icon-m"></fa-icon>

                                                <span *ngIf="!is_mobile"> Suscribirse</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>




                    </div>
                </div>



            </div>

        </div>
    </div>
</div>