<div class="row  animate__animated animate__fadeIn">

    <div class="col-12">

        <div class="rowd-flex justify-content-center align-items-center">
            <form [formGroup]="form_model" class="trap-tab-form" (ngSubmit)="onSubmit()">

                <div class="col-11  m-auto p-5">

                    <div class="row">
                        <div class="col-12">


                            <div class="row">

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="station_number">Número de estación</label>
                                        <input placeholder="Ej:TR-1 (Trampa de roedores 1) " type="text"
                                            stationCodeDirective maxlength="5" class="form-control"
                                            formControlName="station_number">

                                    </div>
                                </div>


                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="pheromones">Posee feromonas</label>
                                        <ng-select class="custom" [items]="options" bindLabel="name" bindValue="id"
                                            formControlName="pheromones" name="pheromones" id="pheromones">
                                        </ng-select>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label class="pheromones_state" for="pheromones_state">Estado de
                                            feromonas</label>
                                        <select name="pheromones_state" id="pheromones_state" class="form-control"
                                            formControlName="pheromones_state">
                                            <option value="Activa">Activa</option>
                                            <option value="Vencida">Vencida</option>

                                        </select>



                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="device_id">Dispositivo</label>
                                        <ng-select class="custom" [items]="devices" [addTag]="true"
                                            addTagText="¿Desea añadir este dispositivo?" (change)="addDevice($event)"
                                            bindLabel="name" bindValue="id" formControlName="device_id" name="device_id"
                                            id="device_id">
                                        </ng-select>

                                    </div>
                                </div>


                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label class="condition" for="condition">Trampa en mal funcionamiento</label>
                                        <select name="condition" id="condition" class="form-control"
                                            formControlName="condition">
                                            <option value="si">Si</option>
                                            <option value="no">No</option>

                                        </select>



                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="device_id">Producto</label>
                                        <ng-select class="custom" [items]="products" [addTag]="true"
                                            addTagText="¿Desea añadir este producto?" (change)="addProduct($event)"
                                            bindLabel="name" bindValue="id" formControlName="product_id"
                                            name="product_id" id="product_id">
                                        </ng-select>

                                    </div>
                                </div>



                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="dose">Dosis</label>
                                        <input type="text" class="form-control" doseDirective
                                            [doseAllowDenominator]="true" [doseUnits]="['ml','g','l','cc']" id="dose"
                                            name="dose" placeholder="12 ml, 10.5 g, 12 ml/L, 7 ml/m²"
                                            formControlName="dose">


                                        <div *ngIf="model_form_control.dose.touched &&
                model_form_control.dose?.hasError('doseFormat')" class="message-container mt-2">
                                            Formato inválido. Usa: 12 ml, 10.5 g, 12 ml/L, 7 ml/m²
                                            <span class="invalid">*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="location_id">Ubicación</label>
                                        <ng-select [items]="locations" [addTag]="true"
                                            addTagText="¿Desea añadir esta ubicación?" (change)="addLocation($event)"
                                            class="custom" bindLabel="name" bindValue="id" formControlName="location_id"
                                            name="location_id">
                                        </ng-select>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="worker_id">Técnico que ejecuta </label>
                                        <ng-select (input)="validateInput($event)" class="custom"
                                            [addTag]="isOperator ? false :true"
                                            addTagText="¿Desea añadir a este técnico?" (change)="addWorker($event)"
                                            [items]="workers" bindLabel="full_name" bindValue="id"
                                            formControlName="worker_id">
                                        </ng-select>

                                    </div>
                                </div>




                                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xll-6 mt-3">
                                    <div class="form-group">
                                        <div class="label-container">
                                            <label for="within_critical_limits">Dentro de límites críticos
                                            </label>
                                        </div>

                                        <div class="radio-container">

                                            <div class="form-check form-check-inline">

                                                <input class="form-check-input" type="radio"
                                                    name="within_critical_limits"
                                                    formControlName="within_critical_limits"
                                                    id="within_critical_limits_yes" value="true">
                                                <label class="form-check-label"
                                                    for="within_critical_limits_yes">Si</label>


                                            </div>

                                            <div class="form-check form-check-inline">

                                                <input class="form-check-input" type="radio"
                                                    name="within_critical_limits"
                                                    formControlName="within_critical_limits"
                                                    id="within_critical_limits_no" value="false">
                                                <label class="form-check-label"
                                                    for="within_critical_limits_no">No</label>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label class="application_time" for="application_time">Hora de
                                            aplicación</label>
                                        <timepicker id="application_time" formControlName="application_time">
                                        </timepicker>



                                    </div>
                                </div>

                                <div class="col-12 col-xl-8 col-xll-8 mt-3">
                                    <div class="form-group">
                                        <label for="correctiveActions">Acciónes correctivas</label>
                                        <ng-select [items]="correctiveActions" [addTag]="addCorrectiveAction"
                                            [multiple]="true" addTagText="¿Desea añadir esta acción correctiva?"
                                            class="custom" bindLabel="name" bindValue="id"
                                            placeholder="Seleccione una o más acciones correctivas"
                                            formControlName="corrective_actions">
                                        </ng-select>

                                    </div>
                                </div>


                            </div>




                        </div>
                    </div>




                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="row d-flex justify-content-end  mb-justify">
                                <div class="col-12 col-lg-6 col-xl-6 col-xll-6">
                                    <div class="row d-flex justify-content-end mb-justify">

                                        <div class="col-6 col-md-4 col-lg-4 col-xl-4 col-xll-4 p-1">
                                            <a (click)="goBack()" class="form-btn">
                                                <fa-icon [icon]="faArrowLeft" class="icon-m"></fa-icon>
                                                <span *ngIf="!is_mobile"> Volver</span>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4 col-lg-4 col-xl-4 col-xll-4 p-1">
                                            <button type="submit" class="form-btn"
                                                [disabled]="form_model.invalid || sendingForm">
                                                <fa-icon [icon]="faPlus" class="icon-m"></fa-icon>

                                                <span *ngIf="!is_mobile"> Guardar</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>