<div class="row  animate__animated animate__fadeIn">

    <div class="col-12">

        <div class="rowd-flex justify-content-center align-items-center">
            <form action="" #Form [formGroup]="form_model" id="create-form" (ngSubmit)="onSubmit()">

                <div class="col-11 m-auto p-5">

                    <div class="row">
                        <div class="col-12">


                            <div class="row">

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="device_number">Número de estación</label>
                                        <input type="text" class="form-control" stationCodeDirective maxlength="5"
                                            placeholder="Ej:TR-1 (Trampa de roedores 1) "
                                            formControlName="device_number" name="device_number">

                                    </div>
                                </div>




                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="product_id">Producto</label>
                                        <ng-select [items]="products" [addTag]="true"
                                            addTagText="¿Desea añadir este producto?" (change)="addProduct($event)"
                                            class="custom" bindLabel="name" bindValue="id" formControlName="product_id"
                                            name="product_id">
                                        </ng-select>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="dose">Dosis</label>
                                        <input type="text" class="form-control" doseDirective
                                            [doseAllowDenominator]="true" [doseUnits]="['ml','g','l','cc']" id="dose"
                                            name="dose" placeholder="12 ml, 10.5 g, 12 ml/L, 7 ml/m²"
                                            formControlName="dose">


                                        <div *ngIf="model_form_control.dose.touched &&
                model_form_control.dose?.hasError('doseFormat')" class="message-container mt-2">
                                            Formato inválido. Usa: 12 ml, 10.5 g, 12 ml/L, 7 ml/m²
                                            <span class="invalid">*</span>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="device_id">Dispositivo</label>
                                        <ng-select class="custom" [addTag]="true"
                                            addTagText="¿Desea añadir este dispositivo?" (change)="addDevice($event)"
                                            [items]="devices" bindLabel="name" bindValue="id"
                                            formControlName="device_id" name="device_id">
                                        </ng-select>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="location_id">Ubicación</label>
                                        <ng-select [items]="locations" [addTag]="true"
                                            addTagText="¿Desea añadir esta ubicación?" (change)="addLocation($event)"
                                            class="custom" bindLabel="name" bindValue="id" formControlName="location_id"
                                            name="location_id">
                                        </ng-select>

                                    </div>
                                </div>








                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="bait_status">Estado del cebo</label>
                                        <ng-select class="custom" [items]="options_bait" bindLabel="name" bindValue="id"
                                            formControlName="bait_status" name="bait_status">
                                        </ng-select>

                                    </div>
                                </div>



                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="activity">Actividad</label>
                                        <ng-select class="custom" [items]="options_activity" bindLabel="name"
                                            bindValue="id" formControlName="activity" name="activity">
                                        </ng-select>

                                    </div>
                                </div>
                                <div class="col-12 col-xl-8 col-xll-8 mt-3">
                                    <div class="form-group">
                                        <label for="correctiveActions">Acciónes correctivas</label>
                                        <ng-select [items]="correctiveActions" [addTag]="addCorrectiveAction"
                                            [multiple]="true" addTagText="¿Desea añadir esta acción correctiva?"
                                            class="custom" bindLabel="name" bindValue="id"
                                            placeholder="Seleccione una o más acciones correctivas"
                                            formControlName="correctiveActions">
                                        </ng-select>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="worker_id">Técnico que ejecuta </label>
                                        <ng-select (input)="validateInput($event)" class="custom"
                                            [addTag]="isOperator ? false :true"
                                            addTagText="¿Desea añadir a este técnico?" (change)="addWorker($event)"
                                            [items]="workers" bindLabel="full_name" bindValue="id"
                                            formControlName="worker_id">
                                        </ng-select>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="infestation_level">Nivel de infestación </label>
                                        <select class="form-control" name="infestation_level" id="infestation_level"
                                            formControlName="infestation_level">
                                            <option selected disabled> -Selecciona una opción-</option>

                                            <option *ngFor="let value of infestation_level" [value]="value">{{value}}
                                            </option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label for="nombres">Tratamiento aplicado</label>
                                        <ng-select class="custom" [items]="aplications" [addTag]="true"
                                            addTagText="¿Desea añadir esta aplicación?"
                                            (change)="addApplication($event)" bindLabel="name" bindValue="id"
                                            formControlName="aplication_id">
                                        </ng-select>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xll-4 mt-3">
                                    <div class="form-group">
                                        <label class="application_time" for="application_time">Hora de
                                            aplicación</label>
                                        <timepicker id="application_time" formControlName="application_time">
                                        </timepicker>



                                    </div>
                                </div>

                            </div>




                        </div>
                    </div>


                    <div class="row">

                        <!--CAPTURAS-->
                        <div class="col-12 col-xl-8 col-xll-8">



                            <div class="row mt-3">

                                <div class="col-5  text-center">
                                    <span class="bold-normal-text">Plaga</span>
                                </div>

                                <div class="col-5 text-center">
                                    <span class="bold-normal-text">Cantidad</span>
                                </div>
                            </div>


                            <ng-container formArrayName="bitacores">

                                <div class="row" *ngIf="!bitacores.length">
                                    <div class="col-12 mt-3">
                                        <p class="text-center bold-normal-text">Añada una captura</p>
                                    </div>
                                </div>
                                <ng-container *ngFor="let bitacore of bitacores.controls; let i=index">
                                    <div class="bitacore-form-row  animate__animated animate__fadeIn"
                                        [formGroupName]="i">


                                        <ng-container *ngIf="i<5">

                                            <div class="row mt-3">
                                                <div class="col-12 col-xl-5 col-xll-5 mt-2">
                                                    <div class="form-group">
                                                        <ng-select class="custom" [items]="pests"
                                                            bindLabel="common_name" bindValue="id"
                                                            formControlName="pest_id" name="pest_id">
                                                        </ng-select>

                                                    </div>
                                                </div>

                                                <div class="col-12 col-xl-5 col-xll-5 mt-2">
                                                    <div class="form-group">
                                                        <select name="options_quantity" id="options_quantity"
                                                            class="form-control" formControlName="quantity">
                                                            <option selected disabled>Seleccione</option>
                                                            <option
                                                                *ngFor="let i of  [].constructor(options_quantity);let x=index"
                                                                [value]="x+1">{{x+1}}</option>
                                                        </select>

                                                    </div>
                                                </div>

                                                <div
                                                    class="col-12 col-xl-2 col-xll-2 d-flex justify-content-center mt-r delete-buttons">
                                                    <div class="col-12 col-sm-6 col-md-6 col-xl-10 mt-2">
                                                        <button class="btn btn-light w-100 form-button p-2"
                                                            type="button" (click)="removeElement(i)">
                                                            <fa-icon [icon]="faTimes" class="icon-m"></fa-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </ng-container>

                                    </div>
                                </ng-container>
                            </ng-container>

                        </div>
                        <!--END CAPTURAS-->

                        <div class="col-12 col-xl-4 col-xll-4 mt-3">

                            <div class="row d-flex justify-content-center">
                                <div class="col-12 col-sm-6 col-md-6 col-xl-6 ">
                                    <button class="btn btn-light w-100 form-button" type="button"
                                        (click)="addElement()">
                                        <fa-icon [icon]="faPlus" class="icon-m"></fa-icon>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-12 col-xl-12 col-xll-12 mt-3">
                            <div class="form-group">
                                <label for="observation">Observaciones</label>
                                <textarea name="observation" id="observation" maxlength="100" class="form-control"
                                    formControlName="observation"></textarea>

                            </div>
                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="row d-flex justify-content-end  mb-justify">
                                <div class="col-12 col-lg-6 col-xl-6 col-xll-6">
                                    <div class="row d-flex justify-content-end mb-justify">

                                        <div class="col-6 col-md-4 col-lg-4 col-xl-4 col-xll-4 p-1">
                                            <a (click)="goBack()" class="form-btn">
                                                <fa-icon [icon]="faArrowLeft" class="icon-m"></fa-icon>
                                                <span *ngIf="!is_mobile"> Volver</span>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4 col-lg-4 col-xl-4 col-xll-4 p-1">
                                            <button type="submit" class="form-btn"
                                                [disabled]="form_model.invalid || sendingForm">
                                                <fa-icon [icon]="faPlus" class="icon-m"></fa-icon>

                                                <span *ngIf="!is_mobile"> Guardar</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>