<div class="container">

    <div class="payment-box">

        <div class="payment-box__tittle">
            <h3>Suscripción no completada</h3>

        </div>

        <div class="payment-box__icon mt-5 mb-5">
            <img ngSrc="assets/images/gifs/action-cancelled.gif" width="450" height="450" decoding="async"
            loading="lazy"
            (load)="imageCompleted()" alt="">

        </div>
        <div class="payment-box__button">
            <button class="close-btn" (click)="closeWindow()" type="button">Cerrar</button>
        </div>

  
    </div>

</div>