<div class="row d-flex justify-content-center" id="container">


    <div
        class=" col-10 col-md-6 col-lg-5 col-xl-4 col-xxl-3 login-form mt-3 mb-3 mt-lg-0 mt-xl-0 mt-xll-0 mb-lg-0 mb-xl-0 mb-xll-0 ">
        <form action="" id="login-form">


            <div class="row">
                <div class="col-12 d-flex justify-content-center login-form__avatar-row">
                    <div class="rounded-div d-flex justify-content-center align-items-center">
                        <img *ngIf="currentTheme=='light'" #lightLogo [ngClass]="{
                            'hide':!login_completed
                        }" (load)="imageCompleted('login')" ngSrc="assets/icons/svg/pestsy-v2-logo.webp" width="200"
                            height="200" decoding="async" priority class="avatar" alt="">

                        <img *ngIf="currentTheme=='dark'" #darkLogo [ngClass]="{
                                'hide':!login_completed
                            }" (load)="imageCompleted('login')" ngSrc="assets/icons/svg/pestsy-v2-logo-black.webp"
                            width="200" height="200" decoding="async" priority class="avatar" alt="">
                        <div class="loader-div shimmer-effect" *ngIf="!login_completed"></div>

                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="">
                        <h6 class="text-center login-form__title">Bienvenido {{user_name}}</h6>
                    </div>
                </div>
            </div>




            <div class="col-12 mt-4 ">

                <div class="text-center mt-3">
                    <span>Ingresando...</span>
                </div>


            </div>





            <div class="row login-form__content d-flex justify-content-center mb-5">
                <div class="col-10">
                    <div class="text-center mt-3">
                        <img style="width: 20%;" ngSrc="assets/images/pre-loader.gif" width="200" height="200"
                            decoding="async" loading="lazy" alt="">
                    </div>

                </div>
            </div>

        </form>



    </div>
</div>