

.form-row{
    height: 60vh;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow-x: hidden;
    
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.btn{
    border: 1px solid #ccc !important;
    font-size: .9rem !important;
}

//RESPONSIVES
 
//XXL
  
@media(min-width: 1440px) 
{
   

}

//XL
@media(min-width: 1200px) and (max-width:1430px) 
{
   
    



}
  

//LG
@media(min-width: 992px) and (max-width:1190px) 
{
  
    
 
 
}

//MD
@media(min-width: 768px) and (max-width:990px) 
{
 

}
  
//SM
@media(min-width: 576px) and (max-width:760px) 
{

    .mtb{
        margin-top: .5rem;
      }
     
 
}
  
   //XS
@media(max-width: 575px) 
{


    .mtb{
        margin-top: 1rem !important;
    }

    .form-row{
        height: 75vh !important;
        overflow-y: auto;
        overflow-x: hidden;
     
    }
    

    .mb-justify
    {
        justify-content: center !important;
    }

    .form-button{
        font-size: .7rem !important;
    }
    
   
}


//VERTICAL RESPONSIVE
@media(max-width: 575px) and (max-height: 790px) 
{
   
   
}



//custom

@media(min-width:1536px) 
{
       
     
      
}

@media(width:1176px) and (height:664px)
{
    
      
}

@media(width: 800px) and (height:600px)
{

    .bold-text{
        font-size: 1.2rem;
    }

    .form-row{
        height: 75vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

  .mtb{
    margin-top: .5rem;
  }
 
    
}
